/* Media Query for Mobile Devices */

@media (max-width: 800px) {
  /* Main Layout */

  .grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-reversed :first-child {
    order: 1;
  }

  /* Nav Bar */

  .navbar-container {
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color-third);
    right: 0;
    top: 4.5rem;
    padding: 2rem;
    width: 40%;
    height: 55%;
    box-shadow: var(--shadow);
    transition: all 0.3s;
  }

  .navbar-nav-left,
  .navbar-nav-right {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 0;
  }

  .navbar-nav-right a {
    margin: 0.5rem;
  }

  .hidden {
    transform: translateX(100%);
  }

  .hamburger {
    display: block;
  }

  .navbar-brand img {
    width: 2rem;
    height: auto;
  }

  /* Footer */
  .social img {
    width: 4rem;
    height: auto;
  }
}

@media (max-width: 960px) {
  .text-xl {
    font-size: 1.8rem;
  }

  .text-lg {
    font-size: 1.2rem;
  }

  .text-md {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
